@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-bg: #FFE794;
    --main-bg: #FFE1BD;
    --highPrior-bg: #FAA136;
    --medPrior-bg: #FFB760;
    --lowPrior-bg: #FFD8A9;
    --footer-bg: #FFE1BD;
    --item-bg: #FEFFDF;
    --aside-bg: #FFFBEF;
    --details-bg: #FFd7a7;
    --save-bg: #7FDB88;
    --done-bg: #7E8BF9;
    --delete-bg: #FF5757;
  }
}